#  брать все браузеры с долей рынка более 0.5%d
> 0.5%

# Браузеры, которые более 24 месяцев не получают обновлений
not dead

# Safari не ниже 10
safari >= 10

# iOS Safari не ниже 10
ios_saf >= 10

# Edge не ниже 15
edge >= 15

# Firefox не ниже 44
firefox >= 44

# Chrome не ниже 49
chrome >= 49
